<div class="left-side sticky-left-side">
    <!--logo and iconic logo start-->
    <div class="logo">
        <a href="/"><img src="~/images/logo.png" alt=""></a>
        ScrumT
    </div>
    <div class="logo-icon text-center">
        <a href="/"><img src="~/images/logo_icon.png" alt=""></a>
    </div>
    <!--logo and iconic logo end-->
    <div class="left-side-inner">
        <!-- visible to small devices only -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media logged-user">
                
                <div class="media-body">
                    <h4>
                        <a href="#">
                            @if(@Session["nomeUsuarioLogado"] == null)
                            {
                                Response.Redirect("~/Login/LogOff");
                            }
                            @if (@Session["nomeUsuarioLogado"] != null)
                            {
                                @Session["nomeUsuarioLogado"].ToString()
                            }
                        </a>
                    </h4>
                    <span>"Bem vindo ao ScrumT..."</span>
                </div>
            </div>
            <h5 class="left-nav-title">Informações</h5>
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="/Login/Profile"><i class="fa fa-user"></i> <span>Perfil</span></a></li>
                <li><a href="#"><i class="fa fa-cog"></i> <span>Configurações</span></a></li>
                <li><a href="/Login/LogOff"><i class="fa fa-sign-out"></i> <span>Sair</span></a></li>
            </ul>
        </div>
        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li><a href="/Home/Index"><i class="nc-icon nc-circle"></i> <span>Ínicio</span></a></li>

            <li class="menu-list">
                <a href="">
                    <i class="nc-icon nc-layers-3"></i> 
                    <span>Cadastros</span>
                    <i class="fa fa-angle-right"></i>
                </a>
                <ul class="sub-menu-list">
                    <li><a href="/Users/Index"> Equipe</a></li>
                    <li><a href="/Projeto/Index"> Projetos</a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href="">
                    <i class="nc-icon nc-notes"></i>
                    <span>Backlogs</span>
                    <i class="fa fa-angle-right"></i>
                </a>
                <ul class="sub-menu-list">
                    <li><a href="/Backlog/Index"> Product Backlog</a></li>
                    <li><a href="/ReleaseBacklog/Index"> Release Backlog</a></li>
                    <li><a href="/Quadrotarefas/Index"> Quadro de Tarefas</a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href="">
                    <i class="nc-icon nc-preferences-circle-rotate"></i> 
                    <span>Testes</span>
                    <i class="fa fa-angle-right"></i>
                </a>
                <ul class="sub-menu-list">
                    <li><a href="/TestUnidade/Index"> Unidade</a></li>
                    <li><a href="/TesteIntegracao/Index"> Integração</a></li>
                    <li><a href="/TesteSistema/Index"> Sistema</a></li>
                    <li><a href="/TesteAceitacao/Index"> Aceitação</a></li>
                </ul>
            </li>

            <li>
                <a href="/Calendar/Index">
                    <i class="nc-icon nc-grid-45"></i> 
                    <span>Calendário</span>
                   
                </a>
            </li>

            <li class="menu-list">
                <a href="">
                    <i class="nc-icon nc-chart-bar-32"></i>
                    <span>Relatórios</span>
                    <i class="fa fa-angle-right"></i>
                </a>
                <ul class="sub-menu-list">
                    <li><a href="/Grafico/Index"> Gráficos</a></li>
                    <li><a href="#"> Andamento do Projeto</a></li>
                    <li><a href="#">Relatório de Testes </a></li>
                </ul>
            </li>


            <li><a href="/Login/LogOff"><i class="nc-icon nc-button-power"></i> <span>Sair</span></a></li>

        </ul>
        <!--sidebar nav end-->
    </div>
</div>