<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>ScrumT</title>

  <!--external css-->
  <link rel="stylesheet" type="text/css" href="js/fuelux/css/tree-style.css" />

  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt="" style="margin-top: -4px;"></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->


        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">Admin</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
 <ul class="nav nav-pills nav-stacked custom-nav">
            <li><a href="/index.html"><i class="fa fa-home"></i> <span>Home</span></a></li>

            <li class="menu-list">
                <a href=""><i class="fa fa-laptop"></i> <span>Cadastros</span></a>
                <ul class="sub-menu-list">
                    <li><a href="Equipe.html"> Equipe</a></li>
                    <li><a href="Projeto.html"> Projetos</a></li>
                    <li><a href="backlog.html"> Product Backlog</a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href=""><i class="fa fa-book"></i> <span>Release Backlog</span></a>
                <ul class="sub-menu-list">
                    <li><a href="#"> General</a></li>
                    <li><a href="#"> Buttons</a></li>
                    <li><a href="#"> Tabs & Accordions</a></li>
                    <li><a href="#"> Typography</a></li>
                    <li><a href="#"> Slider</a></li>
                    <li><a href="#"> Panels</a></li>
                    <li><a href="#"> Widgets</a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href=""><i class="fa fa-cogs"></i> <span>Testes</span></a>
                <ul class="sub-menu-list">
                    <li><a href="Testunidade.html"> Unidade</a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href=""><i class="fa fa-clipboard"></i> <span>Sprints</span></a>
                <ul class="sub-menu-list">
                    <li><a href="mail.html"> Sprints</a></li>
                    <li><a href="Quadrotarefas.html"> Quadro de Tarefas</a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href=""><i class="fa fa-clipboard"></i> <span>Relatórios</span></a>
                <ul class="sub-menu-list">
                    <li><a href="mail.html"> Inbox</a></li>
                    <li><a href="mail_compose.html"> Compose Mail</a></li>
                    <li><a href="mail_view.html"> View Mail</a></li>
                </ul>
            </li>


            <li><a href="login.html"><i class="fa fa-sign-in"></i> <span>Login Page</span></a></li>

        </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

        <!--toggle button start-->
        <a class="toggle-btn"><i class="fa fa-bars"></i></a>
        <!--toggle button end-->

        <!--search start-->
        <form class="searchform" action="index.html" method="post">
            <input type="text" class="form-control" name="keyword" placeholder="Pesquisar..." />
        </form>
        <!--search end-->

        <!--notification menu start -->
        <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-tasks"></i>
                            <span class="badge">9</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                            <h5 class="title">9 Testes em Andamento</h5>
                            <ul class="dropdown-list user-list">
                                <li class="new">
                                    <a href="#">
                                        <div class="task-info">
                                            <div>Projeto 1 - Cliente (Teste)</div>
                                        </div>
                                        <div class="progress progress-striped">
                                            <div style="width: 66%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="66" role="progressbar" class="progress-bar progress-bar-warning">
                                                <span class="">66%</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="new">
                                    <a href="#">
                                        <div class="task-info">
                                            <div>Projeto 2 - Noticias (teste)</div>
                                        </div>
                                        <div class="progress progress-striped">
                                            <div style="width: 99%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="99" role="progressbar" class="progress-bar progress-bar-info">
                                                <span class="">99%</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <div>Projeto 1 - Vendas (Teste)</div>
                                        </div>
                                        <div class="progress progress-striped">
                                            <div style="width: 66%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="66" role="progressbar" class="progress-bar progress-bar-warning">
                                                <span class="">66% </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <div>Projeto 1 - Estoque (Teste)</div>
                                        </div>
                                        <div class="progress progress-striped">
                                            <div style="width: 33%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="33" role="progressbar" class="progress-bar progress-bar-danger">
                                                <span class="">33% </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="new"><a href="">Todos os testes</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge">2</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                            <h5 class="title">Notificações</h5>
                            <ul class="dropdown-list normal-list">
                                <li class="new">
                                    <a href="">
                                        <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                        <span class="name">1 história a ser testada</span>
                                        
                                    </a>
                                </li>
                                <li class="new">
                                    <a href="">
                                        <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                        <span class="name">1 Equipe esperando histórias</span>
                                        
                                    </a>
                                </li>
                                
                                <li class="new"><a href="">Todas as Notificações</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="images/photos/user-avatar.png" alt="" />
                            Admin
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="#"><i class="fa fa-user"></i>  Profile</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i>  Settings</a></li>
                            <li><a href="#"><i class="fa fa-sign-out"></i> Log Out</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                Quadro de Tarefas
            </h3>
        <div class="col-md-6 col-xs-8">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="active">Histórias</a>
                </li>
            </ul>
        </div>
        <div class="col-md-1 col-xs-8">
            <label class="col-lg-2 col-sm-2 control-label">Projeto</label>
        </div>
        <div class="col-md-3 col-xs-8">
            <select class="form-control input-sm m-bot15">
                <option>Projeto 1</option>
                <option>projeto 2</option>
                <option>Projeto 3</option>
            </select>
        </div>
        <div class="col-md-2 col-xs-8">
            <p>
                <a class="btn btn-primary" href="Sprintadd.html">Adicionar Histórias</a>
            </p>
        </div>
        </div>
        <!-- page heading end-->
        
        <!--body wrapper start-->
        <div class="col-md-12">

            <div class="col-md-3">
                <div class="panel">
                    <header class="panel-heading">
                        A Fazer
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" href="javascript:;"></a>
                            <a class="fa fa-times" href="javascript:;"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <ul class="to-do-list ui-sortable" id="sortable-todo">
                            <li class="clearfix">
                                <span class="drag-marker">
                                <i></i>
                                </span>
                                <div class="todo-check pull-left">
                                    <input type="checkbox" value="None" id="todo-check">
                                    <label for="todo-check"></label>
                                </div>
                                <p class="todo-title">
                                    Prototipação
                                </p>
                                <div class="todo-actionlist pull-right clearfix">

                                    <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                </div>
                            </li>
                            <li class="clearfix">
                                <span class="drag-marker">
                                <i></i>
                                </span>
                                <div class="todo-check pull-left">
                                    <input type="checkbox" value="None" id="todo-check1">
                                    <label for="todo-check1"></label>
                                </div>
                                <p class="todo-title">
                                    Menu de Navegação
                                </p>
                                <div class="todo-actionlist pull-right clearfix">

                                    <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                </div>
                            </li>
                            <li class="clearfix">
                                <span class="drag-marker">
                                <i></i>
                                </span>
                                <div class="todo-check pull-left">
                                    <input type="checkbox" value="None" id="todo-check2">
                                    <label for="todo-check2"></label>
                                </div>
                                <p class="todo-title">
                                    Cadastro de Noticias
                                </p>
                                <div class="todo-actionlist pull-right clearfix">

                                    <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                </div>
                            </li>
                            <li class="clearfix">
                                <span class="drag-marker">
                                <i></i>
                                </span>
                                <div class="todo-check pull-left">
                                    <input type="checkbox" value="None" id="todo-check3">
                                    <label for="todo-check3"></label>
                                </div>
                                <p class="todo-title">
                                    Cadastro de Autores
                                </p>
                                <div class="todo-actionlist pull-right clearfix">

                                    <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                </div>
                            </li>
                            <li class="clearfix">
                                <span class="drag-marker">
                                <i></i>
                                </span>
                                <div class="todo-check pull-left">
                                    <input type="checkbox" value="None" id="todo-check4">
                                    <label for="todo-check4"></label>
                                </div>
                                <p class="todo-title">
                                    Listar Notícias - Mais lidas
                                </p>
                                <div class="todo-actionlist pull-right clearfix">

                                    <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                </div>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-md-12">
                                <form role="form" class="form-inline">
                                    <div class="form-group todo-entry">
                                        <input type="text" placeholder="Enter your ToDo List" class="form-control" style="width: 100%">
                                    </div>
                                    <button class="btn btn-primary pull-right" type="submit">+</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                        <div class="panel">
                            <header class="panel-heading">
                                Em Execução
                                <span class="tools pull-right">
                                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                                    <a class="fa fa-times" href="javascript:;"></a>
                                 </span>
                            </header>
                            <div class="panel-body">
                                <ul class="to-do-list ui-sortable" id="sortable-todo">
                                    <li class="clearfix">
                                        <span class="drag-marker">
                                        <i></i>
                                        </span>
                                        <div class="todo-check pull-left">
                                            <input type="checkbox" value="None" id="todo-check">
                                            <label for="todo-check"></label>
                                        </div>
                                        <p class="todo-title">
                                            Prototipação
                                        </p>
                                        <div class="todo-actionlist pull-right clearfix">

                                            <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="drag-marker">
                                        <i></i>
                                        </span>
                                        <div class="todo-check pull-left">
                                            <input type="checkbox" value="None" id="todo-check1">
                                            <label for="todo-check1"></label>
                                        </div>
                                        <p class="todo-title">
                                            Menu de Navegação
                                        </p>
                                        <div class="todo-actionlist pull-right clearfix">

                                            <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="drag-marker">
                                        <i></i>
                                        </span>
                                        <div class="todo-check pull-left">
                                            <input type="checkbox" value="None" id="todo-check2">
                                            <label for="todo-check2"></label>
                                        </div>
                                        <p class="todo-title">
                                            Cadastro de Noticias
                                        </p>
                                        <div class="todo-actionlist pull-right clearfix">

                                            <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="drag-marker">
                                        <i></i>
                                        </span>
                                        <div class="todo-check pull-left">
                                            <input type="checkbox" value="None" id="todo-check3">
                                            <label for="todo-check3"></label>
                                        </div>
                                        <p class="todo-title">
                                            Cadastro de Autores
                                        </p>
                                        <div class="todo-actionlist pull-right clearfix">

                                            <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="drag-marker">
                                        <i></i>
                                        </span>
                                        <div class="todo-check pull-left">
                                            <input type="checkbox" value="None" id="todo-check4">
                                            <label for="todo-check4"></label>
                                        </div>
                                        <p class="todo-title">
                                            Listar Notícias - Mais lidas
                                        </p>
                                        <div class="todo-actionlist pull-right clearfix">

                                            <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>

                                </ul>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form role="form" class="form-inline">
                                            <div class="form-group todo-entry">
                                                <input type="text" placeholder="Enter your ToDo List" class="form-control" style="width: 100%">
                                            </div>
                                            <button class="btn btn-primary pull-right" type="submit">+</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="col-md-3">
                        <div class="panel">
                            <header class="panel-heading">
                                Em Teste
                                <span class="tools pull-right">
                                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                                    <a class="fa fa-times" href="javascript:;"></a>
                                 </span>
                            </header>
                            <div class="panel-body">
                                <ul class="to-do-list ui-sortable" id="sortable-todo">
                                    <li class="clearfix">
                                        <span class="drag-marker">
                                        <i></i>
                                        </span>
                                        <div class="todo-check pull-left">
                                            <input type="checkbox" value="None" id="todo-check">
                                            <label for="todo-check"></label>
                                        </div>
                                        <p class="todo-title">
                                            Prototipação
                                        </p>
                                        <div class="todo-actionlist pull-right clearfix">

                                            <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="drag-marker">
                                        <i></i>
                                        </span>
                                        <div class="todo-check pull-left">
                                            <input type="checkbox" value="None" id="todo-check1">
                                            <label for="todo-check1"></label>
                                        </div>
                                        <p class="todo-title">
                                            Menu de Navegação
                                        </p>
                                        <div class="todo-actionlist pull-right clearfix">

                                            <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="drag-marker">
                                        <i></i>
                                        </span>
                                        <div class="todo-check pull-left">
                                            <input type="checkbox" value="None" id="todo-check2">
                                            <label for="todo-check2"></label>
                                        </div>
                                        <p class="todo-title">
                                            Cadastro de Noticias
                                        </p>
                                        <div class="todo-actionlist pull-right clearfix">

                                            <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="drag-marker">
                                        <i></i>
                                        </span>
                                        <div class="todo-check pull-left">
                                            <input type="checkbox" value="None" id="todo-check3">
                                            <label for="todo-check3"></label>
                                        </div>
                                        <p class="todo-title">
                                            Cadastro de Autores
                                        </p>
                                        <div class="todo-actionlist pull-right clearfix">

                                            <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="drag-marker">
                                        <i></i>
                                        </span>
                                        <div class="todo-check pull-left">
                                            <input type="checkbox" value="None" id="todo-check4">
                                            <label for="todo-check4"></label>
                                        </div>
                                        <p class="todo-title">
                                            Listar Notícias - Mais lidas
                                        </p>
                                        <div class="todo-actionlist pull-right clearfix">

                                            <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>

                                </ul>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form role="form" class="form-inline">
                                            <div class="form-group todo-entry">
                                                <input type="text" placeholder="Enter your ToDo List" class="form-control" style="width: 100%">
                                            </div>
                                            <button class="btn btn-primary pull-right" type="submit">+</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>  
            <div class="col-md-3">
                        <div class="panel">
                            <header class="panel-heading">
                                Done
                                <span class="tools pull-right">
                                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                                    <a class="fa fa-times" href="javascript:;"></a>
                                 </span>
                            </header>
                            <div class="panel-body">
                                <ul class="to-do-list ui-sortable" id="sortable-todo">
                                    <li class="clearfix">
                                        <span class="drag-marker">
                                        <i></i>
                                        </span>
                                        <div class="todo-check pull-left">
                                            <input type="checkbox" value="None" id="todo-check">
                                            <label for="todo-check"></label>
                                        </div>
                                        <p class="todo-title">
                                            Prototipação
                                        </p>
                                        <div class="todo-actionlist pull-right clearfix">

                                            <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="drag-marker">
                                        <i></i>
                                        </span>
                                        <div class="todo-check pull-left">
                                            <input type="checkbox" value="None" id="todo-check1">
                                            <label for="todo-check1"></label>
                                        </div>
                                        <p class="todo-title">
                                            Menu de Navegação
                                        </p>
                                        <div class="todo-actionlist pull-right clearfix">

                                            <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="drag-marker">
                                        <i></i>
                                        </span>
                                        <div class="todo-check pull-left">
                                            <input type="checkbox" value="None" id="todo-check2">
                                            <label for="todo-check2"></label>
                                        </div>
                                        <p class="todo-title">
                                            Cadastro de Noticias
                                        </p>
                                        <div class="todo-actionlist pull-right clearfix">

                                            <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="drag-marker">
                                        <i></i>
                                        </span>
                                        <div class="todo-check pull-left">
                                            <input type="checkbox" value="None" id="todo-check3">
                                            <label for="todo-check3"></label>
                                        </div>
                                        <p class="todo-title">
                                            Cadastro de Autores
                                        </p>
                                        <div class="todo-actionlist pull-right clearfix">

                                            <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="drag-marker">
                                        <i></i>
                                        </span>
                                        <div class="todo-check pull-left">
                                            <input type="checkbox" value="None" id="todo-check4">
                                            <label for="todo-check4"></label>
                                        </div>
                                        <p class="todo-title">
                                            Listar Notícias - Mais lidas
                                        </p>
                                        <div class="todo-actionlist pull-right clearfix">

                                            <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>

                                </ul>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form role="form" class="form-inline">
                                            <div class="form-group todo-entry">
                                                <input type="text" placeholder="Enter your ToDo List" class="form-control" style="width: 100%">
                                            </div>
                                            <button class="btn btn-primary pull-right" type="submit">+</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div> 
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer class="sticky-footer">
            2014 &copy; TCC Joyce & Vanessa
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<!--tree-->
<script src="js/fuelux/js/tree.min.js"></script>
<script src="js/tree-init.js"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>



<script>
    jQuery(document).ready(function() {
        TreeView.init();
    });
</script>

</body>
</html>
