@model Ferramenta_Scrumt.MODEL.Quadro_tarefas

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Detalhes da História</h4>
        </div>
        <div class="modal-body">
            <p>História: @Html.DisplayFor(model => model.Historia)</p>
            <p>Projeto: @Html.DisplayFor(model => model.Projeto)</p>
            <p>Situação: @Html.DisplayFor(model => model.Situacao)</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
