@model Ferramenta_Scrumt.MODEL.Grafico

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-heading">
    <h3>
        Gráfico
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li class="active">Gráfico</li>
    </ul>
</div>
<div class="row">
    <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading">
                Pie Chart
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="chartJS">
                    <canvas id="pie-chart-js" height="250" width="800"></canvas>
                </div>

            </div>
        </section>
    </div>
    <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading">
                Testes em Execução
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                </span>
            </header>
            <div class="panel-body">
                <div id="pie-chart-donut" class="pie-chart">
                    <div id="pie-donutContainer" style="width: 100%;height:300px; text-align: left;">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

