@{
    ViewBag.Title = "Home Page";
}


    <!--body wrapper start-->
    <div class="wrapper">
        <div class="row states-info">
            <div class="col-md-3">
                <div class="panel blue-bg">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-copy"></i>
                            </div>
                            <div class="col-xs-8">
                                <span class="state-title"> Projetos em Execução </span>
                                <h4>4</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel green-bg">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-clipboard"></i>
                            </div>
                            <div class="col-xs-8">
                                <span class="state-title">  Projetos Finalizados  </span>
                                <h4>5</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel yellow-bg">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-cogs"></i>
                            </div>
                            <div class="col-xs-8">
                                <span class="state-title">  Testes Realizados  </span>
                                <h4>6</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel red-bg">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-code"></i>
                            </div>
                            <div class="col-xs-8">
                                <span class="state-title">  Testes em Espera  </span>
                                <h4>9</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--body wrapper end-->
    </div>
