@model IEnumerable<Ferramenta_Scrumt.MODEL.Home>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <!--body wrapper start-->

<div class="wrapper">
    <div class="row states-info">
        @foreach (var item in Model)
        {
                <div class="col-md-3">
                    <div class="panel blue-bg">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-copy"></i>
                                </div>
                                <div class="col-xs-8">
                                    <span class="state-title"> Projetos em Execução </span>
                                    <h4>@Html.DisplayFor(modelItem => item.totalprojeto)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel green-bg">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-clipboard"></i>
                                </div>
                                <div class="col-xs-8">
                                    <span class="state-title">  Histórias Cadastradas </span>
                                    <h4>@Html.DisplayFor(modelItem => item.totalhistorias)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel yellow-bg">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-cogs"></i>
                                </div>
                                <div class="col-xs-8">
                                    <span class="state-title">  Testes Realizados  </span>
                                    <h4>6</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel red-bg">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-code"></i>
                                </div>
                                <div class="col-xs-8">
                                    <span class="state-title">  Testes em Espera  </span>
                                    <h4>@Html.DisplayFor(modelItem => item.totalteste)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        }
    </div>
    <div class="col-md-12">
        <div class="panel">
            <header class="panel-heading">
                Histórias Cadastradas
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                </span>
            </header>
            <div class="panel-body">
                <ul class="goal-progress">
                    @foreach (var item in ViewBag.Historia)
                    {
                    <li>

                        <div class="details">
                            <div class="title">
                                <a href="#">@item.Text</a> - Importância
                            </div>
                            <div class="progress progress-striped active progress-sm">
                                @if (item.Value == "Alta")
                                {
                                    <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-danger">
                                        <span class="">Alta</span>
                                    </div>
                                }
                                @if (item.Value == "Média")
                                {
                                    <div style="width: 66%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-warning">
                                        <span class="">Média</span>
                                    </div>
                                }
                                @if (item.Value == "Baixa")
                                {
                                    <div style="width: 33%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                                        <span class="">Baixa</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </li>
                    }
                </ul>
                <div class="text-center"><a href="#">Ver todos as Histórias</a></div>
            </div>
        </div>
    </div>
</div>
<!--body wrapper end-->
