
@{
    ViewBag.Title = "Calendário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-heading">
    <h3>
        Calendário Product Backlog
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li class="active">Calendário</li>
    </ul>
</div>
<!-- page heading end-->
<!--body wrapper start-->
<div class="wrapper">

    <!-- page start-->
    <div class="row">
        
        <aside class="col-md-12">
            <section class="panel">
                <div id="calendar" class="has-toolbar"></div>
            </section>
        </aside>

    </div>
    <!-- page end-->

</div>
<script>
    var data = $.getJSON("GetDados", function (Date) { console.log(Date) });
    var dateString = data.creditrequest[0].EstimativaInicio.substr(6);
    var currentTime = new Date(parseInt(dateString));
    var month = currentTime.getMonth() + 1;
    var day = currentTime.getDate();
    var year = currentTime.getFullYear();
    var date = day + "/" + month + "/" + year;

    $.getJSON("GetDados", function (Date) { console.log(Date) });
</script>